.app {
    background: #f1f1f1;
    display: grid;
    grid-template-areas:
        "Cabeçalho"
        "Conteudo"
        "Rodape";
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto;
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho {
    align-items: center;
    display: flex;
    grid-area: Cabeçalho;
    padding: 0 2rem;
}
 
.conteudo {
    grid-area: Conteudo;
    padding: 0 2rem;
}

.rodape {
    background: #fdfdfd;
    color: #333333;
    font-size: .8rem;
    grid-area: Rodape;
    padding: 1rem;
    text-align: center;
}