.app {
    background: #f1f1f1;
    display: grid;
    grid-template-areas:
        "Cabeçalho"
        "Conteudo"
        "Rodape";
    grid-template-columns: auto;
    grid-template-rows: 50px 100vh auto;  
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho {
    grid-area: Cabeçalho;
}
 
.conteudo {
    grid-area: Conteudo;
}

.rodape {
    grid-area: Rodape;
}